* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
button{
    background-color: #333;
    color:white;
    border-radius: 5px;
    margin-right: 5px;
    border: 0;
    padding: 7px;
}

main{
    height: calc(100vh - 170px);
    background-color: black;
}

.btn{
    background-color: #333;
    color:white;
    border-radius: 5px;
    margin-right: 5px;
    border: 0;
}
.avatar-img{
    width:250px;
    height: 200px;
    background-color: black;
    border: 2px solid black;
}
.gallery-avatar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px 0;
    overflow-y: auto;
}
footer{
    height: 100px;
    background-color: green;
    display: flex;
    justify-content: space-between;

}
.footer-left{
    background-color: black;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    color:white;
}
.footer-center{
    background-color: red;
    width: 1200px;
    height: 100%;
}
.footer-right{
    background-color: blue;
    width: 150px;
}
.icon-par i{
    justify-content: center;
}
.footer-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon p{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
